{% extends 'layer_uploader/base.html' %}
{% load static %}

{% block layer_page_title %}Layer details · Naqel Maps{% endblock %}

{% block layer_assets %}
<link rel="stylesheet" href="{% static 'layer_uploader/css/upload_flow.css' %}">
{% endblock %}

{% block layer_content %}
{% include 'layer_uploader/includes/flow_shell.html' %}
    {% include 'layer_uploader/includes/flow_header.html' with title='Layer details' subtitle='Confirm the information below, then continue to review.' %}

    <form method="post" class="mt-10">
      {% csrf_token %}
      {% include 'layer_uploader/includes/layer_details_card.html' %}
      {% include 'layer_uploader/includes/flow_actions.html' with submit_label='Review layer' secondary_url=upload_reset_url secondary_label='Start over' %}
    </form>
{% include 'layer_uploader/includes/flow_shell_end.html' %}
{% endblock %}
